// Site colors:
// =================================================================
$primary: rgb(49 63 56 / 100%);
$secondary: rgb(252 208 67 / 100%);
// =================================================================

// Text colors:
// =================================================================
$textPrimary: rgb(27 59 54 / 100%);
$textPrimary-8: rgb(27 59 54 / 80%);
$textPrimary-2: rgb(27 59 54 / 20%);

$textSecondary: rgb(255 252 246 / 100%);
$textSecondary-8: rgb(255 252 246 / 80%);

$textYellow: rgb(252 208 67 / 100%);
// =================================================================

// Background colors:
// =================================================================
$bgPrimary: rgb(49 63 56 / 100%);
$bgPrimary-test: rgb(49 63 56 / 100%);
$bgPrimary-hover: rgb(252 208 67 / 100%);
$bgPrimary-24: rgb(49 63 56 / 24%);


$bgSecondary: rgb(255 252 246 / 100%);
$bgSecondary-24: rgb(255 252 246 / 24%);
$bgSecondary-2: rgb(255 252 246 / 20%);

$bgTertiary: rgb(69 82 75 / 100%);

$bgYellow: rgb(252 208 67 / 100%);

$bgWhite: rgb(216 216 216 / 100%);
$bgWhite-2: rgb(216 216 216 / 20%);
// =================================================================

// Borders colors (Фонові кольори):
// =================================================================
$borderPrimary: rgb(49 63 56 / 100%);
$borderPrimary-48: rgb(49 63 56 / 48%);
$borderPrimary-24: rgb(49 63 56 / 24%);
$borderPrimary-8: rgb(49 63 56 / 80%);

$borderSecondary: rgb(255 252 246 / 100%);
$borderSecondary-32: rgb(255 252 246 / 32%);
$borderSecondary-24: rgb(255 252 246 / 24%);
$borderSecondary-12: rgb(255 252 246 / 12%);

$borderTertiary: rgb(123 121 125 / 100%);

$borderFourth: rgb(63 81 72 / 100%);

$borderYellow: rgb(252 208 67 / 100%);
// =================================================================

// Hover colors
// =================================================================
$hoverYellow: rgb(252 196 18 / 100%);
$hoverAccent: rgb(252 192 0 / 100%);
// =================================================================

// Helper colors
// =================================================================
$error: rgb(176 62 62 / 100%);
$attention: rgb(220 155 57 / 100%);
$success: rgb(42 91 70 / 100%);
$link: rgb(27 59 54 / 100%);
$link-hover: rgb(69 89 85 / 100%);
// =================================================================

/*=============== VARIABLES CSS ===============*/
:root{
  //--header-height: 105px;
  //
  ///*========== Colors ==========*/
  ///*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  //
  ///*========== Font and typography ==========*/
  ///*.5rem = 8px | 1rem = 16px ...*/
  //--body-font: 'Montserrat', sans-serif;
  //--normal-font-size: .938rem;
  //
  //// Responsive typography
  //@media screen and (min-width: 1024px){
  //  --normal-font-size: 1rem;
  //}
  //
  ///*========== Font weight ==========*/
  //--font-regular: 400;
  //--font-semi-bold: 600;
  //
  ///*========== z index ==========*/
  //--z-tooltip: 10;
  //--z-fixed: 100;
}



