.global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-top-level;
  width: 100%;
  background-color: $bgPrimary;
  border: 1px solid $borderFourth;

  // .global-header__container
  &__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: toRem(15);
    align-items: center;
    min-height: toRem(105);
    padding-top: toRem(10);
    padding-bottom: toRem(10);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      min-height: toRem(90);
      padding-right: toRem(10);
      padding-left: toRem(10);
    }
  }

  // .global-header__logo
  &__logo {
    position: relative;
    z-index: $z-index-middle-level;
    font-family: $fontMiracle;
    font-size: toRem(20);
    color: $textSecondary;
    text-transform: capitalize;

    &-ibg {
      width: 150px;
      @include adaptiveValue('height', 80, 70, 0, 998, 768);
    }
  }

  // .global-header__menu
  &__menu {
  }

  // .global-header__phone
  &__phone {
    justify-self: end;
    font-size: toRem(16);
    line-height: math.div(20, 16);
    color: $textSecondary;

    @media (max-width: $tablet) {
      position: relative;
      font-size: toRem(20);

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background-color: $textSecondary;
        opacity: 0.2;
      }
    }
  }

  // .global-header__mobile-footer
  &__mobile-footer {
    // .global-header__mobile-footer
  }
}

.global-menu {
  justify-self: center;

  @media (max-width: $tablet) {
    justify-self: end;
  }

  // .global-menu__body
  &__body {
    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      left: 100%;
      display: flex;
      flex-direction: column;
      row-gap: toRem(120);
      width: 100%;
      height: 100%;
      padding: toRem(130) toRem(10) toRem(40) toRem(10);
      overflow: auto;
      background-color: $bgPrimary;

      //  background-color: red;
      transition: left 0.5s;

      &::before {
        position: fixed;
        top: 0;
        left: 100%;
        z-index: $z-index-bottom-level;
        width: 100%;
        height: toRem(80);
        content: '';
        background-color: $bgPrimary;
        transition: left 0.5s;
      }

      .menu-open & {
        left: 0;

        &::before {
          left: 0;
        }
      }
    }
  }

  .header-mobile-footer {
    display: flex;
    flex-direction: column;
    row-gap: toRem(40);
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet) {
      display: none;
    }

    // .header-mobile-footer__address
    &__address {
      flex: 1 1 auto;
      font-size: toRem(18);
      color: $textSecondary;
      text-transform: uppercase;
    }

    // .header-mobile-footer__social-items
    &__social-items {
      display: flex;
      column-gap: toRem(40);
      justify-content: space-between;
      font-size: toRem(12);
      font-weight: 500;
      line-height: math.div(20, 12);
      color: $textSecondary;
      text-transform: uppercase;
    }

    // .header-mobile-footer__social-item
    &__social-item {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background-color: $textSecondary;
        opacity: 0.2;
      }
    }

    // .header-mobile-footer__social-link
    &__social-link {
    }
  }
}

// ====================================================================================================
/*=============== NAV ===============*/
.nav {
  &__link {
    font-size: toRem(14);
    line-height: math.div(20, 14);
    color: $textSecondary;
    //background-color: $bgPrimary;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;

    //@media (min-width: $tablet) {
    //  &:hover {
    //    background-color: #77243a;
    //  }
    //}
  }

  // Navigation for mobile devices
  @media (max-width: $tablet) {
    //&__list {
    //  background-color: #77243a;
    //  padding-top: 1rem;
    //}

    &__link {
      font-size: toRem(30);
      line-height: math.div(30, 30);
    }
  }
}

/*=============== DROPDOWN ===============*/
.dropdown {
  &__item {
    cursor: pointer;
  }

  &__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform 0.4s;
  }

  &__link,
  &__sublink {
    padding: toRem(10) toRem(10) toRem(10) toRem(20);
    color: $textSecondary;
    background-color: $bgPrimary;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: toRem(14);
    line-height: math.div(20, 14);
    color: $textSecondary;
    transition: background-color 0.3s;

    & i {
      font-size: 1.25rem;
      font-weight: initial;
    }

    &:hover {
      background-color: $bgPrimary-hover;
      color: $textPrimary;
    }
  }

  &__menu,
  &__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  //Show dropdown menu & submenu more how tablet wight
  html.touch &__item.dropdown__open &__menu,
  html.touch &__subitem.dropdown__open > &__submenu {
    max-height: 1000px;
    transition: max-height 0.4s ease-in;
  }

  // Rotate dropdown icon
  html.touch &__item.dropdown__open &__arrow {
    transform: rotate(180deg);
  }

  @media (max-width: $tablet) {
    &__menu,
    &__submenu {
      border-left: 2px solid $bgYellow;
    }

    &__submenu {
      margin-left: 20px;
    }
  }
}
/*=============== DROPDOWN SUBMENU ===============*/
.dropdown {
  &__add {
    margin-left: auto;
    height: 10px;
    margin-top: -15px;
  }

  &__sublink {
    background-color: $bgPrimary-test;
  }
}

/* For large devices */
@media screen and (min-width: $tablet) {
  .nav {
    display: flex;
    justify-content: space-between;

    &__toggle {
      display: none;
    }

    &__list {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }

    &__link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: 0.25rem;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .dropdown {
    &__item,
    &__subitem {
      position: relative;
    }

    &__menu {
      padding-top: toRem(20);
    }

    &__menu,
    &__submenu {
      width: toRem(180);
      max-height: initial;
      overflow: initial;
      position: absolute;
      left: 0;
      top: 6rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s, top 0.3s;

      -webkit-box-shadow: 8px 8px 20px -9px rgba(252, 208, 67, 0.4);
      -moz-box-shadow: 8px 8px 20px -9px rgba(252, 208, 67, 0.4);
      box-shadow: 8px 8px 20px -9px rgba(252, 208, 67, 0.4);

      background-color: transparent;
    }

    &__link,
    &__sublink {
      //padding-inline: 1rem 3.5rem;
    }

    &__subitem &__link {
      //padding-inline: 1rem;
    }

    &__submenu {
      position: absolute;
      left: 100%;
      top: 0.5rem;
    }

    // Show dropdown menu
    &__item:hover &__menu {
      opacity: 1;
      top: toRem(20);
      pointer-events: initial;
      transition: top 0.3s;
    }

    // Show dropdown submenu
    &__subitem:hover > &__submenu {
      opacity: 1;
      top: 0;
      pointer-events: initial;
      transition: top 0.3s;
    }

    // Rotate dropdown icon
    &__item:hover &__arrow {
      transform: rotate(180deg);
    }
  }
}
